<script type="text/javascript">
    function editClick() {
        var row = $('#master').datagrid('getSelected');
        if (row) {
            $('#dlg-edit').dialog('open').dialog('setTitle',"编辑");
            $('#fm-sortOrderInfo').form('load', row);
            $('#btnEditDeliverLine').removeAttr("style");
            $('#btnRemoveDeliverLineAllot').removeAttr("style");
            $('#btnDeliverLineAllot').css('display', 'none');
            $('#deliverLineDetail').datagrid({ url: '/SortAllot/GetDeliverLine/?orderDate=' + row.OrderDate, singleSelect: true });
        }
        else {
            $.messager.alert('提示', '没有选择行！', 'info');
        }
    }

    function editDeliverLineClick() {
        var row = $('#deliverLineDetail').datagrid('getSelected');
        if (row) {
            $('#dlg-edit-deliverLine').dialog('open').dialog('setTitle', "编辑");
            $('#fm-edit-deliverLine').form('load', row);
        }
        else {
            $.messager.alert('提示', '没有选择行！', 'info');
        }
    }

    //取消分配
    function removeDeliverLineAllotClick() {
        var row = $('#deliverLineDetail').datagrid('getSelected');
        if (row) {
            if (row.State == "已分配") {
                $.messager.confirm('询问', '你确定要取消'+row.DeliverLineCode+'的分配吗？', function (r) {
                    if (r) {
                        $.ajax({
                            type: "POST",
                            url: "/DeliverAllot/Delete",
                            data: "deliverLineCode=" + row.DeliverLineCode,
                            success: function (result) {
                                var result = eval('(' + result + ')');
                                if (result.success) {
                                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                                    $("#dlg-edit").dialog('close');
                                    $('#details').datagrid('reload');
                                } else {
                                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                                    $('#details').datagrid('reload');
                                }
                            }
                        });  
                    }
                });
            }
            else {
                $.messager.alert('提示', '请选择已分配的记录！', 'info');
            }
        }
        else {
            $.messager.alert('提示', '没有选择行！', 'info');
        }
    }

    //分配
    function deliverLineAllotClick() {
        var deliverLineRows = $('#deliverLineDetail').datagrid('getSelections');
        if (deliverLineRows.length > 0) {
            var row = $('#master').datagrid('getSelected')
            var allRows = $('#details').datagrid('getRows');
            var count = 0;
            for (var i = 0; i < allRows.length; i++) {
                if (allRows[i].State == '已分配') {
                    count++;
                }
            }
            $.messager.confirm('提示', '今日分拣线路总条数' + row.DeliverLineCount + '条，已分配' + count + '条，选择了' + deliverLineRows.length + '条，是否继续?', function (r) {
                if (r) {
                    if (row.IsWarehousSortIntegration == '1') {//分拣仓储一体化
                        saveDeliverLineAllot(row.OrderDate, deliverLineRows);
                    } else {
                        $('#dlg-sortingLine').dialog('open').dialog('setTitle', '选择分拣线');
                        $('#sortingLineDetail').datagrid({ url: '/SortingLine/GetDetailsForSort/' })
                    }
                }
            });
        } else {
            $.messager.alert('提示', '请选择需要分配的线路！', 'info');
        }
    }

    //保存分配
    function saveDeliverLineAllot(orderDate,deliverLineRows) {
        var dispatchParameter = "";
        for (var i = 0; i < deliverLineRows.length; i++) {
            dispatchParameter += deliverLineRows[i].DeliverLineCode + ',';
        }
        $.ajax({
            type: "POST",
            url: "/SortAllot/UpdateDeliverLineAllot",
            data: "orderDate=" + orderDate + "&deliverLineCodes=" + dispatchParameter,
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $("#dlg-edit").dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });  
    }

    function save() {
        $('#fm-edit-deliverLine').form('submit', {
            url: "/SortAllot/EditDeliverLine/",
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $("#dlg-edit-deliverLine").dialog('close');
                    $('#deliverLineDetail').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#deliverLineDetail').datagrid('reload');
                }
            }
        });
    }

    //优化选择的分拣线
    function sortingLineAllotClick() {
        var rows = $('#sortingLineDetail').datagrid('getSelections');
        if (rows.length > 0) {
            var deliverLineRows = $('#deliverLineDetail').datagrid('getSelections');
            var dispatchParameter = "";
            for (var i = 0; i < deliverLineRows.length; i++) {
                dispatchParameter += deliverLineRows[i].DeliverLineCode + ',';
            }
            var sortingLineParameter = "";
            for (var i = 0; i < rows.length; i++) {
                sortingLineParameter += rows[i].SortingLineCode + ',';
            }
            var row = $('#master').datagrid('getSelected')
            $.ajax({
                type: "POST",
                url: "/SortAllot/UpdateDeliverLineAllot2",
                data: "orderDate=" + row.OrderDate + "&deliverLineCodes=" + dispatchParameter + "&sortingLineCode=" + sortingLineParameter,
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        $("#dlg-edit").dialog('close');
                        $("#dlg-sortingLine").dialog('close');
                        $('#details').datagrid('reload');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    }
                }
            });
        } else {
            $.messager.alert('提示', '请选择分拣线！');
        }
    }
</script>
<div id="dlg-edit" class="easyui-dialog" modal="true" style="width:800px;height:450px;padding:0px 0px" closed="true" buttons="#dlg-buttons">
   <div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="700" id="deliverLineDetail"
                fit="true" fitColumns="true" rownumbers="true" pagination="true" checkOnSelect="true" pageSize="50">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th> 
                        <th field="DeliverLineCode" width="100">送货线路编码</th>
                        <th field="DeliverLineName" width="150">送货线路名称</th>
                        <th field="Quantity" width="100">数量(条)</th>
                        <th field="State" width="60">任务状态</th>
                        <th field="SortingLineCode" width="100">分拣线编码</th>
                        <th field="DeliverOrder" width="100">送货线路顺序</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
	<div border="false" style="padding:4px 4px;" >     
	    <form id="fm-sortOrderInfo" method="post">
            <table height="50px">
                <tr>
                <td width="70" align="right">订单日期：</td>
                <td width="170"><input name="OrderDate" id="dlg-OrderDate" disabled="disabled" style="width:150px;"></td>
                <td width="90" align="right">总数量（条）：</td>
                <td width="170"><input name="SumQuantity" id="dlg-SumQuantity" disabled="disabled" style="width:150px;"></td>
                <td width="60" align="right">线路条数：</td>
                <td width="170"><input name="DeliverLineCount" disabled="disabled" id="dlg-DeliverLineCount" style="width:150px;"></td>
                </tr>
                <tr>
                <td width="70" align="right">说　明：</td>
                <td width="170"><input name="Explanation" id="dlg-Explanation" disabled="disabled" style="width:150px;"></td>
                <td width="90" align="right">异形烟（条）：</td>
                <td width="170"><input name="AbnormityQuantity" id="dlg-AbnormityQuantity" disabled="disabled" style="width:150px;"></td>
                <td width="80"></td>
                <td width="170"></td>
                </tr>
            </table>
	    </form>
    </div>
    <div border="false" style="padding:4px 4px;" > 
	    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editDeliverLineClick()" id="btnEditDeliverLine">修改明细</a>
	    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeDeliverLineAllotClick()" id="btnRemoveDeliverLineAllot">取消分配</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-Menu_CheckBill" plain="true" onclick="deliverLineAllotClick()" id="btnDeliverLineAllot">分配</a>
    </div>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-edit').dialog('close')">取消</a>
</div>
<div id="dlg-edit-deliverLine" class="easyui-dialog" style="width:280px;height:190px;padding:10px 10px" closed="true" buttons="#dlg-buttons-edit-deliverLine">
    <form id="fm-edit-deliverLine" method="post">
        <table>
            <tr>
                <td width="90">送货线路编码</td>
                <td><input style="width:160px" name="DeliverLineCode" class="easyui-validatebox" readonly="readonly" /></td>
            </tr>
            <tr>
                <td width="90">送货线路名称</td>
                <td><input style="width:160px" name="DeliverLineName" class="easyui-validatebox" readonly="readonly" /></td>
            </tr>
            <tr>
                <td width="90">送货线路顺序</td>
                <td><input style="width:160px" name="DeliverOrder" class="easyui-numberbox" placeholder="请输入数字" required="true"/></td>
            </tr>
        </table>
    </form>
</div>

<div id="dlg-buttons-edit-deliverLine">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-edit-deliverLine').dialog('close')">取消</a>
</div>
<div id="dlg-sortingLine" class="easyui-dialog" modal="true" style="width:500px;height:400px;padding:0px 0px" closed="true" buttons="#dlg-buttons-sortingLine">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" width="700" id="sortingLineDetail"
                fit="true" fitColumns="true" rownumbers="true" pagination="true" checkOnSelect="true" pageSize="50">
                <thead>
                    <tr>
                        <th field="ck" checkbox="true"></th> 
                        <th field="SortingLineCode" width="100">分拣线编码</th>
                        <th field="SortingLineName" width="150">分拣线名称</th>
                        <th field="SortingLineType" width="100">分拣线类型</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-sortingLine">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="sortingLineAllotClick()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-sortingLine').dialog('close')">取消</a>
</div>

