<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/ChannelAllotSearch/Details/" border="false"
        singleselect="true" pagesize="50" fit="true" fitcolumns="true" toolbar="#tool"
        pagination="true" rownumbers="true">
        <thead>
            <tr>
                @*
                <th field="Id" width="30">
                    ID
                </th>
                *@
                <th field="OrderDate" width="60">
                    订单日期
                </th>
                <th field="BatchNo" width="40">
                    批次号
                </th>
                <th field="SortingLineName" width="70">
                    分拣线
                </th>
                <th field="ChannelCode" width="40">
                    烟道代码
                </th>
                <th field="ChannelName" width="80">
                    烟道名称
                </th>
                <th field="ProductCode" width="60">
                    商品代码
                </th>
                <th field="ProductName" width="130">
                    商品名称
                </th>
                <th field="Quantity" width="60">
                    商品数量（条）
                </th>
                <th field="ConversionQuantity" width="60">
                    单位换算
                </th>
            </tr>
        </thead>
    </table>
</div>
