<script type="text/javascript">
    var url;
    var detailUrl;
    var LedCode;
    var isShowLedDetail; //true 表示可以弹出明细添加窗口，false 表示提交主表单据失败，不能弹出明细添加窗体
    var isLedMasterAdd; //true 表示可以提交主表单据，false不能提交主表单据

    function AddLoad() {
        $('#addStatus').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
        $('#addLedType').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
//        $('#addSortingLineCode').combo({
//            required: true,
//            editable: false,
//            panelHeight: 45,
//            panelWidth: 130
//        });
    }


    function addClick() {

        AddLoad()

        isShowInBillDetail = false;
        isLedMasterAdd = true;

        $('#inLedDetail').datagrid('loadData', { total: 0, rows: [] }); //清空细单
        $('#dlg').dialog('open').dialog('setTitle', '新增');
        addKey = true;

        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#btnAddLedDetail').css('display', 'inline'); //设置新增明细按钮的可见性
        $('#btnDeleteLedDetail').css('display', 'inline'); //设置删除明细按钮的可见性
        $('#btnEditLedDetail').css('display', 'inline'); //设置修改明细按钮的可见性
        $('#cc').combo({
            hasDownArrow: true
        });
        url = '/Led/Create/';
        detailUrl = '/Led/LedDetailCreate/';

    };


    function AddDetailLoad() {
        //        $('#addLedGroupCode').combo({
        //            required: true,
        //            editable: false,
        //            panelHeight: 45,
        //            panelWidth: 130
        //        });
        $('#detailStatus').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
        $('#detailLedType').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
//        $('#detailSortingLineCode').combo({
//            required: true,
//            editable: false,
//            panelHeight: 45,
//            panelWidth: 130
//        });
    }

    //新增分屏明细按钮
    function addLedDetailClick() {


        AddDetailLoad();
        inLedMasterSave();
        if (isShowLedDetail) {
            inLedDetailShow();
        }
    };

    //显示新增分屏明细
    function inLedDetailShow() {

        $('#dlg-AddLedDetail').dialog('open').dialog('setTitle', '新增分屏');
        $('#fm-inLedDetail').form('clear');
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        detailUrl = '/Led/LedDetailCreate/';

    }

    //单击添加细表保存主表单据
    function inLedMasterSave() {
        if (isLedMasterAdd) {//判断是否可以添加主单
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        url = '/Led/Edit/';
                        isShowLedDetail = true;
                        isLedMasterAdd = false;
                        $.messager.confirm(g_MsgBoxTitle, result.msg + '<br />' + '新增明细？', function (r) {
                            if (r) {
                                inLedDetailShow();
                            }
                        });
                        $('#details').datagrid('reload');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        $('#details').datagrid('reload');
                    }
                }
            });
        }
    }

    //保存主单
    function save() {
        if (isLedMasterAdd == false) {//false 表示主表未保存
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        addKey = false;
                        editKey = false;
                        $('#dlg').dialog('close');
                        $('#details').datagrid('reload');
                        $('#inLedDetails').datagrid('load');

                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        addKey = false;
                        editKey = false;
                        $('#details').datagrid('reload');
                    }
                }
            });
        }
        else {
            inLedMasterSave();
            $('#dlg-AddLedDetail').dialog('close');
        }
        $('#inLedDetails').datagrid('loadData', { total: 0, rows: [] }); //清空细单
    }

    //保存分屏
    function DetailSave() {
        $('#fm-inLedDetail .easyui-validatebox').validatebox({
            required: true
        });
        $('#fm-inLedDetail').form('submit', {
            url: detailUrl,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    addKey = false;
                    editKey = false;
                    $('#dlg-AddLedDetail').dialog('close');
                    $('#inLedDetail').datagrid({ url: '/Led/Details/?LedGroupCode=' + $('#addLedCode').val() });
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    addKey = false;
                    editKey = false;
                    $('#inLedDetail').datagrid('reload');
                }
            }
        });
    }

    //删除分屏
    function deleteLedDetailClick() {
        var detailRow = $('#inLedDetail').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddLedDetail').dialog('open').dialog('setTitle', '删除分屏');
            $('#fm-inLedDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('input[type=text]', '#fm-inLedDetail').attr("disabled", "disabled");
            $('form textarea').attr("disabled", "disabled");
            $('#fm-inLedDetail').form('load', detailRow);
            detailUrl = '/Led/InLedDetailDelete/?LedCode=' + $('#detailLedCode').val();
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }

    //修改分屏信息
    function editLedDetailClick() {
        var detailRow = $('#inLedDetail').datagrid('getSelected');
        if (detailRow) {
            $('#dlg-AddLedDetail').dialog('open').dialog('setTitle', '修改分屏');
            $('#fm-inLedDetail .easyui-validatebox').validatebox({
                required: false
            });
            $('form input').removeAttr("disabled");
            $('form textarea').removeAttr("disabled");
            $('#fm-inLedDetail').form('load', detailRow);

//            if (detailRow.SortingLineCode == "分拣线A") {
//                $('#detailSortingLineCode').combo('setValue', 01).combo('setText', detailRow.SortingLineCode);
//            } else {
//                $('#detailSortingLineCode').combo('setValue', 02).combo('setText', detailRow.SortingLineCode);
//            }
            if (detailRow.Status == "可用") {
                $('#detailStatus').combo('setValue', 1).combo('setText', detailRow.Status);
            } else {
                $('#detailStatus').combo('setValue', 0).combo('setText', detailRow.Status);
            }

            if (detailRow.LedType == "整屏") {
                $('#detailLedType').combo('setValue', 1).combo('setText', detailRow.LedType);
            } else {
                $('#detailLedType').combo('setValue', 2).combo('setText', detailRow.LedType);
            }
            detailUrl = '/Led/InBillDetailEdit/?LedCode=' + $('#detailLedCode').val();
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }

    //选择父节点
    function LedGroupCodeSelect() {
        $('#dlg-Led').dialog('open').dialog('setTitle', '选择父结点');
        $('#LedGroupCodeDetail').datagrid({ url: '/Led/Details/?LedType=1' });
        $("#LedGroupCodeDetail").datagrid('reload');
    }

    //选择分拣线
    function SortingLineNameSearchClick() {
        $('#dlg-SortingLine').dialog('open').dialog('setTitle', '选择分拣线');
        $('#SortingLineDetails').datagrid({ url: '/SortingLine/Details/' });
        $("#SortingLineDetails").datagrid('load');
    }


</script>
<div id="dlg" class="easyui-dialog" modal="true" style="width: 800px; height: 450px;
    padding: 0px 0px" closed="true" buttons="#dlg-buttons">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false">
            <table class="easyui-datagrid" border="false" toolbar="#dlg-detailButtons" width="700"
                id="inLedDetail" fit="true" fitcolumns="false" singleselect="true" rownumbers="true"
                pagination="true" url="">
                <thead>
                    <tr>
                        <th field="LedCode" width="60">
                            编码
                        </th>
                        <th field="LedName" width="100">
                            名称
                        </th>
                        <th field="LedType" width="60">
                            类型
                        </th>
                        <th field="SortingLineName" width="80">
                            分拣线名称
                        </th>
                        <th field="XAxes" width="60">
                            X轴坐标
                        </th>
                        <th field="YAxes" width="60">
                            Y轴坐标
                        </th>
                        <th field="Width" width="60">
                            Led宽
                        </th>
                        <th field="Height" width="60">
                            Led高
                        </th>
                        <th field="OrderNo" width="60">
                            顺序号
                        </th>
                        <th field="Status" width="60">
                            状态
                        </th>
                        <th field="LedGroupCode" width="60">
                            父节点
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="dlg-detailButtons" style="width: auto; height: auto; background-color: #FFFFFF;">
    <div border="false" style="padding: 4px 4px;">
        <form id="fm" method="post" novalidate>
        <table height="100px">
            <tr>
                <td width="80">
                    编码:
                </td>
                <td width="168">
                    <input id="addLedCode" name="LedCode" type="text" class="easyui-validatebox" required="true" />
                </td>
                <td width="60">
                    名称:
                </td>
                <td width="168">
                    <input id="addLedName" name="LedName" type="text" class="easyui-validatebox" required="true" />
                </td>
                <td width="80">
                    IP地址:
                </td>
                <td width="168">
                    <input name="LedIp" id="addLedIp" class="easyui-numberbox" missingmessage="请输入IP(必须为数字)"
                        required="true" />
                </td>
                <td width="90">
                    顺序号:
                </td>
                <td width="168">
                    <input id="addOrderNo" name="OrderNo" class="easyui-numberbox" missingmessage="请输入顺序号(必须为数字)"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td width="80">
                    X坐标:
                </td>
                <td width="80">
                    <input name="XAxes" id="addXAxes" class="easyui-numberbox" missingmessage="请输入坐标(必须为数字)" />
                </td>
                <td width="80">
                    Y坐标:
                </td>
                <td width="80">
                    <input name="YAxes" id="addYAxes" class="easyui-numberbox" missingmessage="请输入坐标(必须为数字)" />
                </td>
                <td width="80">
                    Led 宽:
                </td>
                <td width="80">
                    <input name="Width" id="addWidth" required="true" class="easyui-numberbox" missingmessage="请输入宽(必须为数字)" />
                </td>
                <td width="90">
                    Led 高:
                </td>
                <td width="80">
                    <input name="Height" id="addHeight" required="true" class="easyui-numberbox" missingmessage="请输入高(必须为数字)" />
                </td>
            </tr>
            <tr>
                <td width="75">
                    状态:
                </td>
                <td width="168">
                    <select id="addStatus" name="Status" class="easyui-combobox">
                        <option value="1">可用</option>
                        <option value="0">不可用</option>
                    </select>
                </td>
                <td width="75">
                    类型:
                </td>
                <td width="168">
                    <select id="addLedType" name="LedType" class="easyui-combobox">
                        <option value="1">整屏</option>
                    </select>
                </td>
            @*    <td width="60">
                    分拣线名称:
                </td>*@
                @*   <td width="168">
                    <select id="addSortingLineCode" name="SortingLineCode" class="easyui-combobox">                     
                        <option value="01">分拣线A</option>
                        <option value="02">分拣线B</option>
                    </select>
                </td>*@
                 <td align="right" style="width:100px;">分拣线名称:</td>
           <td align="left" style="width:230px;">
               <input id="addSortingLineCode" name="SortingLineCode" style="display: none;"/>
               <input id="addSortingLineName" name="SortingLineName" class="easyui-validatebox" readonly="readonly" required="true"/>
               <a href="#" id="SortingLineNameSearch" class="easyui-linkbutton" iconcls="icon-search"
                        plain="true" onclick="SortingLineNameSearchClick()"></a>
           </td>
            </tr>
        </table>
        </form>
    </div>
    <div border="false" style="padding: 4px 4px;">
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="addLedDetailClick()"
            id="btnAddLedDetail">添加分屏</a> <a href="#" class="easyui-linkbutton" iconcls="icon-remove"
                plain="true" onclick="deleteLedDetailClick()" id="btnDeleteLedDetail">删除分屏</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editLedDetailClick()"
            id="btnEditLedDetail">修改分屏</a>
    </div>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">
        取消</a>
</div>
<div id="dlg-AddLedDetail" class="easyui-dialog" modal="true" style="width: 300px;
    height: 400px; padding: 0px 0px" closed="true" buttons="#dlg-AddLedDetailbuttons">
    <form id="fm-inLedDetail" method="post" novalidate>
    <table style="padding: 10px 10px 0px 5px">
        <tr>
            <td width="80" style="text-align: right">
                编码:
            </td>
            <td width="168">
                <input id="detailLedCode" name="LedCode" type="text" class="easyui-validatebox" required="true" />
            </td>
        </tr>
        <tr>
            <td width="60" style="text-align: right">
                名称:
            </td>
            <td width="168">
                <input id="detailLedName" name="LedName" type="text" class="easyui-validatebox" required="true" />
            </td>
        </tr>
        <tr>
           @* <td width="60" style="text-align: right">
                分拣线:
            </td>
            @*  <td width="168">
                <select id="detailSortingLineCode" name="SortingLineCode" class="easyui-combobox">
                    <option value="01">分拣线A</option>
                    <option value="02">分拣线B</option>
                </select>
            </td>*@
             <td align="right" style="width:100px;">分拣线名称:</td>
           <td align="left" style="width:230px;">
               <input id="detailSortingLineCode" name="SortingLineCode" style="display: none;"/>
               <input id="detailSortingLineName" name="SortingLineName" class="easyui-validatebox" readonly="readonly" required="true"/>
               <a href="#" id="detailSortingLineNameSearch" class="easyui-linkbutton" iconcls="icon-search"
                        plain="true" onclick="SortingLineNameSearchClick()"></a>
           </td>
     
        </tr>
        <tr>
            <td width="60" style="text-align: right">
                类型:
            </td>
            <td width="168">
                <select id="detailLedType" name="LedType" class="easyui-combobox">
                    <option value="2">分屏</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="60" style="text-align: right">
                状态:
            </td>
            <td width="168">
                <select id="detailStatus" name="Status" class="easyui-combobox">
                    <option value="1">可用</option>
                    <option value="0">不可用</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                顺序号:
            </td>
            <td width="168">
                <input id="detailOrderNo" name="OrderNo" class="easyui-numberbox" missingmessage="请输入顺序号(必须为数字)"
                    required="true" />
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                X轴坐标:
            </td>
            <td width="80">
                <input name="XAxes" id="detailXAxes" class="easyui-numberbox" missingmessage="请输入坐标(必须为数字)" />
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                Y轴坐标:
            </td>
            <td width="80">
                <input name="YAxes" id="detailYAxes" class="easyui-numberbox" missingmessage="请输入坐标(必须为数字)" />
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                Led 宽:
            </td>
            <td width="80">
                <input name="Width" id="detailWidth" class="easyui-numberbox" missingmessage="请输入宽(必须为数字)"
                    required="true" />
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                Led 高:
            </td>
            <td width="80">
                <input name="Height" id="detailHeight" class="easyui-numberbox" missingmessage="请输入高(必须为数字)"
                    required="true" />
            </td>
        </tr>
        <tr>
            <td width="80" style="text-align: right">
                父级编号:
            </td>
            <td width="168">
                <input name="LedGroupCode" id="addLedGroupCode" readonly="true" />
                <a href="#" id="LedGroupCodeSearch" class="easyui-linkbutton" iconcls="icon-search"
                    plain="true" onclick="LedGroupCodeSelect()"></a>
            </td>
        </tr>
    </table>
    </form>
</div>
<div id="dlg-AddLedDetailbuttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="DetailSave()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-AddLedDetail').dialog('close')">
        取消</a>
</div>
@Html.Partial("_LedGroupCodePartial")
@Html.Partial("../Channel/_SortingLinePartial")
