<script type="text/javascript">
    function searchClick() {
        $('#dlg-search input').val("");
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    }

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.ProductCode = $("#searchDefaultProductCode").val();
        queryParams.SortingLineCode = $("#searchSortingLineCode").val();
        queryParams.ChannelType = $("#search-ChannelType").combo('getValue');
        queryParams.GroupNo = $("#searchGroupNo").combo('getValue');
        queryParams.IsActive = $("#search-Status").combo('getValue');

        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 50
        });
         $('#details').datagrid("reload");
        $('#dlg-search').dialog("close");
    }

    //分拣线查询
    function SortingLineNameSearchClick() {
        $('#dlg-SortingLine').dialog('open').dialog('setTitle', '选择分拣线');
        $('#SortingLineDetails').datagrid({ url: '/SortingLine/Details/' });
        $("#SortingLineDetails").datagrid('load');
    }
</script>
<div id="dlg-search" class="easyui-dialog" modal="true" style="width: 300px; height: 300px;
    padding: 2px 2px" closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
               <tr>
                    <td>卷烟编码</td>
                    <td><input id="productCode1" name="ProductCode" class="easyui-validatebox"/>
                        <a href="#" onclick="productQuery()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                </tr>
                <tr>
                    <td>卷烟名称</td>
                    <td><input id="productName1" name="ProductName" /></td>
                </tr>
                    <tr>
                        <td style="text-align: right">
                            烟道类型:
                        </td>
                        <td>
                            <select id="search-ChannelType" class="easyui-combobox" style="width: 130px" editable="false" panelheight="90">
                                <option value=""></option>                               
                                <option value="2">立式机</option>
                                <option value="3">通道机</option>
                                <option value="4">卧式机</option>
                                <option value="5">混合烟道</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right">
                            分拣线代码:
                        </td>
                        <td align="left" style="width: 170px;">
                            <input id="searchSortingLineCode" name="SortingLineCode" class="easyui-validatebox" readonly="readonly"/>
                            <a href="#" id="SortingLineCodeSearch" class="easyui-linkbutton" iconcls="icon-search"
                                plain="true" onclick="SortingLineNameSearchClick()"></a>
                        </td>
                        <tr>
                            <td style="text-align: right">
                                分拣线名称:
                            </td>
                            <td align="left">
                                <input type="text" name="SortingLineName" class="easyui-validatebox" id="searchSortingLineName" readonly="true" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                烟道组:
                            </td>
                            <td>
                                <select id="searchGroupNo" class="easyui-combobox" style="width: 130px" editable="false" panelheight="50">
                                    <option value=""></option>
                                    <option value="1">A线</option>
                                    <option value="2">B线</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                状 态:
                            </td>
                            <td>
                                <select id="search-Status" class="easyui-combobox" style="width: 130px" editable="false" panelheight="50">
                                    <option value=""></option>
                                    <option value="1">启 用</option>
                                    <option value="0">不启用</option>
                                </select>
                            </td>
                        </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="select()">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">
        取消</a>
</div>
