<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="master" class="easyui-datagrid" border="false" singleSelect="true" url='/SortSupply/Details/'
        fit="true" pagination="true" rownumbers="true" pageSize="20">
        <thead>
            <tr>
                <th field="SortSupplyCode" width="150" >订单细单代码</th>
                <th field="BatchSortId" width="150" hidden="true">批次分拣编号</th>
                <th field="SupplyId" width="150" >补货编码</th>
                <th field="PackNo" width="100">烟包包号</th>
                <th field="ChannelCode" width="100" >烟道代码</th>
                <th field="ProductCode" width="150" >商品代码</th>
                <th field="ProductName" width="150" >商品名称</th>
            </tr>
        </thead>
    </table>
</div>