<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/Customer/Details/" border="false"
        singleselect="true" pagesize="50" fit="true" toolbar="#tool" pagination="true" fitcolumns="true" 
        rownumbers="true">
        <thead>
            <tr>
                <th field="CustomerCode" width="80">
                    客户编码
                </th>
                <th field="CustomerName" width="240" >
                    客户名称
                </th>
                <th field="DeliverLineCode" width="100">
                   线路编码
                </th>
                <th field="DeliverLineName" width="180">
                   线路名称
                </th>
                <th field="DeliverOrder" width="80" >
                   送货顺序
                </th>
                <th field="Address" width="240" >
                   送货地址
                </th>
                <th field="IsActive" width="80" >
                   是否可用
                </th>
             @* <th field="UpdateTime" width="120" >
                   更新时间
                </th>*@
            </tr>
        </thead>
    </table>
</div>
