<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/ChannelAllot/Details/" border="false"
        singleselect="true" pagesize="50" fit="true" fitcolumns="true" toolbar="#tool"
        pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ChannelAllotCode" width="100">
                    烟道分配代码
                </th>
                <th field="SortBatchId" width="80">
                    批次分拣编号
                </th>
                <th field="ChannelCode" width="30">
                    烟道代码
                </th>
                <th field="ProductCode" width="50">
                    商品代码
                </th>
                <th field="ProductName" width="80">
                    商品名称
                </th>
                <th field="InQuantity" width="50">
                    入库数量
                </th>
                <th field="OutQuantity" width="50">
                    出库数量
                </th>
                <th field="RealQuantity" width="80">
                    实际数量
                </th>
                <th field="RemainQuantity" width="50">
                    提前量
                </th>
            </tr>
        </thead>
    </table>
</div>
