<script type="text/javascript">
    function searchClick() {
        $('#status').combo({
            editable: false,
            panelHeight: 50,
            panelWidth: 130
        });
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
        $('#dlg-search input').val("");
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;

        queryParams.DistCode = $("#searchDistCode").val();
        queryParams.CustomCode = $("#searchCustomCode").val();
        queryParams.DistName = $("#searchDistName").val();
        queryParams.IsActive = $("#status").combo('getValue');

        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1
        });
        $('#details').datagrid("reload");
        $('#dlg-search').dialog("close");
    }

</script>
<div id="dlg-search" class="easyui-dialog" modal="true" style="width: 280px; height: 220px;
    padding: 2px 2px" closed="true" buttons="#dlg-buttons-research">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
                <tr>
                    <td width="80">
                        配送区域编码:
                    </td>
                    <td align="left">
                        <input type="text" name="DistCode" class="easyui-validatebox" id="searchDistCode" />
                    </td>
                </tr>
                <tr>
                    <td width="80">
                        配送区域名称:
                    </td>
                    <td align="left">
                        <input type="text" name="DistName" class="easyui-validatebox" id="searchDistName" />
                    </td>
                </tr>
                <tr>
                    <td width="80">
                        自定义编码:
                    </td>
                    <td align="left">
                        <input type="text" name="CustomCode" class="easyui-validatebox" id="searchCustomCode" />
                    </td>
                </tr>
                <tr>
                    <td>
                        是否可用：
                    </td>
                    <td>
                        <select id="status" class="easyui-combobox">
                            <option value=""></option>
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-research">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="select()">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">
        取消</a>
</div>
