<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="master" class="easyui-datagrid" border="false" singleSelect="true" url='/DeliverAllot/Details/'
        fit="true" pagination="true" rownumbers="true" pageSize="20">
        <thead>
            <tr>
                <th field="DeliverLineAllotCode" width="150" >分拣线分配代码</th>
                <th field="SortBatchId" width="150" >批次分拣编号</th>
                <th field="DeliverLineCode" width="150" >送货线路编码</th>
                <th field="DeliverQuantity" width="100" >配送数量</th>
                <th field="Status" width="100">任务状态</th>
            </tr>
        </thead>
    </table>
</div>