<script type="text/javascript">
    function searchClick() {
        serachClear();
        searchInit();
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
    }
    function searchByParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.Id = $('#id1').val();
        queryParams.PositionName = $('#positionName1').val();
        queryParams.PositionType = $('#positionType1').combo('getValue');
        queryParams.ProductCode = $('#productCode1').val();
        queryParams.ProductName = $('#productName1').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({ pageNumber: 1, pageSize: 10 });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }
    function searchInit() {
        $('#positionType1').combo({ editable: false, width: 129, panelHeight: 'auto' });
    }
    function serachClear() {
        $("input[type=text]").attr("value", "");
        $('#positionType1').combo('setValue', "");
    }
</script>
<style type="text/css">
    #dlg-search{ width:260px; height:160px; padding:2px 2px; }
    .c_div { padding:10px 10px; background:$fff; border:1px solid #ccc; }
</style>
<div id="dlg-search" class="easyui-dialog" modal="true" closed="true" buttons="#dlg-search-buttons">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" class="c_div">
            <table>
                <tr>
                    <td><input id="id1" type="text" style="display:none;"/></td>
                </tr>
                <tr>
                    <td>位置名称：</td>
                    <td width="168" align="left"><input id="positionName1" type="text" /></td>
                </tr>
                <tr>
                    <td width="60" align="right">位置类型：</td>
                    <td>
                        <select id="positionType1" class="easyui-combobox">
                            <option value=""></option>
                            <option value="01">自动补货拆盘位</option>
                            <option value="02">缓存补货拆盘位</option>
                            <option value="03">叉车补货拆盘位</option>
                            <option value="04">混合补货拆盘位</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>商品编码：</td>
                    <td width="168" align="left"><input id="productCode1" type="text" /></td>
                </tr>
                <tr>
                    <td>商品名称：</td>
                    <td width="168" align="left"><input id="productName1" type="text" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-search-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="searchByParams()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">
        取消</a>
</div>