<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SortOrderDispatch/Details/'
        fit="true" fitcolumns="true" pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                <th field="ID" width="120" hidden="true">调度ID</th>
                <th field="OrderDate" width="100" >订单日期</th>
                <th field="SortingLineCode" width="80" >分拣线编码</th>
                <th field="SortingLineName" width="100" >分拣线名称</th>
                <th field="DeliverLineCode" width="100" >送货线路编码</th>
                <th field="DeliverLineName" width="210" >送货线路名称</th>
                <th field="SortStatus" width="80" >分拣状态</th>
                <th field="WorkStatus" width="80" >作业状态</th>
                <th field="IsActive" width="80">是否可用</th>
                <th field="UpdateTime" width="140">修改时间</th>
            </tr>
        </thead>
    </table>
</div>

