<script type="text/javascript">
    var url;
    url = "/ProductInfo/Edit";
    function editClick() {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#editdlg').dialog('open').dialog('setTitle', '编辑');
            if (row.IsAbnormity == '异型烟') {
                $('#IsAbnormity').combo('setValue', 1).combo('setText', row.IsAbnormity);
            } else {
                $('#IsAbnormity').combo('setValue', 0).combo('setText', row.IsAbnormity);
            }
            //文本赋值&下拉框赋值
            $('#editproductfm').form('load', row);
        }
        else {
            $.messager.alert('错误', '没有选择行！', 'info');
        }
    }
    //保存
    function save() {
        $('#editproductfm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#editdlg').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
<div id="editdlg" class="easyui-dialog" modal="true" style="width: 300px; height: 210px;
    padding: 5px 5px" closed="true" buttons="#editdeliver-buttons">
    <div class="easyui-layout" fit="true">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="editproductfm" method="post" novalidate>
            <table width="260">
               <tr>
                <td>商品编码：</td>
                <td><input id="ProductCode" readonly="true" name="ProductCode" type="text"></td>
                </tr>
                <tr>
                <td>商品名称：</td>
                <td><input id="ProductName" readonly="true" name="ProductName" type="text"></td>
                </tr>
                <tr>
                <td>件烟条形码：</td>
                <td><input id="PieceBarcode" name="PieceBarcode" type="text"></td>
                </tr>
                <tr>
                <td>是否异型烟：</td>
                <td>
                    <select  class="easyui-combobox" editable="false" id="IsAbnormity" name="IsAbnormity" panelHeight="50">
		                <option value=""></option>
                        <option value="1">异型烟</option>
		                <option value="0">正常烟</option>
                    </select>
                </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div id="editdeliver-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="save()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#editdlg').dialog('close')">
        取消</a>
</div>
