<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" 
        url="/ProductInfo/Details/" border="false" singleSelect="true" pageSize="50"
        fit="true" fitcolumns="true" pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="100">商品编码</th>
                <th field="ProductName" width="180">商品名称</th>
                <th field="PieceBarcode" width="100">件烟条形码</th>
                <th field="IsAbnormity" width="80">是否异形烟</th>
                <th field="IsActive" width="80">是否可用</th>
                <th field="UpdateTime" width="140">更新时间</th>
            </tr>
        </thead>
    </table>
</div>

 
